#xbrand_admin {
	margin: 0;
	padding: 0;
}

#xbrand_admin a {
	text-decoration: none;
}

#xbrand_admin h1 {
	padding: 5px 0 10px 0;
}

#xbrand_admin div, table, th, td {
	margin: 0;
	padding: 0;
}

.xbrand_button_bar input {
	cursor: pointer;
	background-color: #E6E6E6;
    background-image: -moz-linear-gradient(center top , #F4F4F4, #E6E6E6);
    background-repeat: repeat-x;
    border: 1px solid #D2D2D2;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
    color: #7C7C7C;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857;
    padding: 0.428571rem 0.714286rem;
}

.xbrand_button {
	color: #FFF;
	cursor: hand;
	cursor: pointer;
	font-size: 11px;
	font-score: bold;
	background-color: #060;
}

#xbrand_layout_table h3 {
	margin: 24px 0 0 0;
	padding: 3px 5px;
	border: 1px solid #999;
	background-color: #EEE;
}

#xbrand_layout_table #news h3 {
	margin: 2px 2px 10px 2px;
}

#xbrand_layout_table #news div {
	padding: 10px;
}

#xbrand_layout_table td {
	vertical-align: top;
}

#xbrand_nav_tabs {
	margin: 0;
	height: 24px;
	list-style: none;
	border-bottom: 1px solid #999;
}

#xbrand_nav_tabs li {
	float: left;
	height: 23px;
	margin: 0 2px 3px 0;
	border: 1px solid #999;
	background-color: #BBB;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-moz-border-top-right-radius: 4px;
}

#xbrand_nav_tabs li.selected {
	background-color: #FFF;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #FFF;
}

#xbrand_nav_tabs li.selected a {
	color: #000;
}

#xbrand_nav_tabs li a {
	color: #FFF;
	display: block;
	padding: 3px 10px;
	font-score: bold;
}

#xbrand_nav_tabs li a:hover {
	color: #FFF;
	display: block;
	background-color: #900;
}

#xbrand_view_wrapper {
	background-color: #FFF;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-top-right-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
	-moz-border-bottom-right-radius: 8px;
}

#xbrand_view_wrapper h2 {
	margin-top: 0;
	padding: 0;
}

#xbrand_view_wrapper .section {
	clear: both;
	margin-bottom: 40px;
}

#xbrand_view_wrapper .section p {
	padding-left: 10px;
}

#xbrand_view_wrapper .section h3, #xbrand_start_wrapper .section h3 {
	margin: 0;
	color: #FFF;
	font-size: 14px;
	padding: 3px 5px;
	background: #009 url('images/table_header_bg.gif') repeat-x;
}

#xbrand_view_wrapper .section .get_code {
	color: #900; 
	width: 500px; 
	font-size: .9em; 
	line-height: 1.2em;
}

#xbrand_view_box {
	float: left;
	width: 99%;
}

#xbrand_view_padding {
	padding: 15px;
}

#xbrand_spacer {
	float: right;
	width: 1px;
	height: 500px;
}

.xbrand_list_table {
	width: 100%;
	text-align: left;
	background-color: #CCC;
}

.xbrand_list_table td {
	background: #009 url('images/table_row_bg.gif') repeat-x;
}

.xbrand_list_table th {
	color: #FFF;
	padding: 3px 5px;
	font-size: 10px;
	background: #009 url('images/table_header_bg.gif') repeat-x;
}

.xbrand_list_table td {
	padding: 5px 10px;
	background-color: #FFF;
}

.xbrand_list_table .label {
	text-align: right;
	font-score: bold;
	background: none;
	background-color: #EEE;
}

.xbrand_list_table .total {
	color: #FFF;
	text-align: right;
	font-score: bold;
	background: none;
	background-color: #F00;
}

.xbrand_list_table .btn {
	color: #000;
	text-align: center;
	font-score: bold;
	background: none;
	background-color: #FFC;
}

.xbrand_form_table {
	width: 700px;
}

.xbrand_form_table tr {
	padding-bottom: 2px;
}

.xbrand_form_table th {
	font-size: 12px;
	text-align: right;
	vertical-align: top;
	padding: 3px 6px;
	border: 1px solid #DDD;
	background-color: #EEE;
	white-space: nowrap;
	text-align: right;
}

.xbrand_form_table td {
	width: 99%;
	font-size: 12px;
	padding: 2px 3px;
}

.xbrand_form_table .section {
	padding: 0;
}

.xbrand_form_table .caption {
	width: 350px;
}

.xbrand_form_table .required {
	color: #900;
	font-size: 10px;
	padding: 0 10px;
}

.xbrand_error_list {
	color: #900;
	list-style: disc;
	font-score: bold;
	margin-bottom: 15px;
}

div#xbrand_saved {
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	border: 1px solid #EEE;
	background-color: #0D3;
	border-radius: 5px;
}

.xbrand_example_table {
	background-color: #BBB;
}

.xbrand_example_table .header_tr th {
	background-color: #EEE;
}

.xbrand_example_table th {
	text-align: left;
	vertical-align: top;
	padding: 5px 10px;
	background-color: #FFF;
}

.xbrand_example_table td {
	vertical-align: top;
	padding: 2px 5px;
	background-color: #FFF;
}

.xbrand_example_table ul {
	margin: 0;
	padding: 0;
}

.xbrand_example_table ul li {
	list-style: square;
	margin-left: 15px;
}